# Common junk
/lib
/junk
/bin
/obj
/utils
.idea


# Visual studio junk
.vs
/source/.vs
.vscode
*.aps
*.tlog
*.log

# Common
/data/guids.db
/data/*.cfg
/data/*.cfg.meta
/data/.runtimes
/data/.thumbnails
/data/.editor2
/data/.cache_textures
/data/*.*cache
**/data/.cache_textures
*.save
*.save_
quicksave.png

/.cache_textures
/.thumbnails
/.runtimes


###

data/core.ung
data/editor2.ung
data/scripts.ung
